*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}


.home {
  padding:20px;
  display:flex;
  justify-content:center;
  margin-top:20px;
  flex-wrap: wrap;
  justify-content:center;
  background-color: black;
  text-align: center;
 
}


