* {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100vw;  
    background-color: rgba(83, 83, 231, 0.486);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header {
    width: 100%;
  height: 4rem;
    display: flex;
    justify-content: center;
    background-color: rgb(83, 83, 231);
  }

  #selector{
      width: 15%;
      height: 39%;
      margin-top: 2%;
      background-color:rgb(199, 199, 253);
    
      border: skyblue 1px solid;
  }


  #main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: h;
  }
  
  #card {
    width: 25%;
    height: 75%;
    display: flex;
    color: w;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    margin: 1%;
    flex-wrap: wrap;
    border: white 2px solid;
    background-color: rgb(83, 83, 231);
    box-shadow:0.5em 0.5em 5em navy;
   

  }
  h2{
    width: 92%;
    height: 10%;
    background-color: rgb(117, 216, 255);
    text-align: center;
  }
  h1{
    width: 92%;
    height: 10%;
    background-color: skyblue;
    text-align: center;
  }
 