main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    border-radius: 12px;
}




