@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Fuzzy+Bubbles&family=Lobster&family=Pacifico&family=Redressed&family=Shadows+Into+Light&family=Vujahday+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #11151d,#1d1f24,#252525);  
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ff6600;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
}

.form-mail {
  width: 20rem;
  border: groove 3px #ffff;
  border-radius:15px;
  box-shadow: -3px -2px 1px #535366;
  background: #232526;  
  background: linear-gradient(to right, #414345, #232526);  
  opacity: 0.8;  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 20rem;
}

label {
  font-size: 1.5rem;
  color: #9cc7f3;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  background: transparent;
  box-shadow: 0 -2px 2px rgb(199, 194, 194);
  border-radius: 20px;
  color: #ffff;
}

textarea {
  border-radius: 10px;
  background-color: #a3a8af;
  padding: 0.5rem;
}

button {
  width: 8rem;
  border-radius: 20px;
  font-size: 1.2rem;
  color: green;
  background-color: #9df59d;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: green;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffff;
}